<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Libro</title>
</head>
<body>
    <h1>Información del Libro Seleccionado</h1>
    <hr>
    <p><strong>ID:</strong> <%= book.id %></p>
    <p><strong>Título:</strong> <%= book.title %></p>
    <p><strong>Autor:</strong> <%= book.author %></p>
    <br>
    <a href="/bookList">Regresar a la lista completa</a>
</body>
</html>
